In [17]:
#Question 1

# The following given list was taken 

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

print("Given list : " , ages)

# Sorting the list using the sort() function

ages.sort()

#Displying the sorted list 

print("After Sorting : ",ages)

#displaying the min element in list

print("Minimum Element : ",min(ages))

#Determining length to print the max value using len() function

listlen = len(ages)

#displying max element in the list

print("Maximum Element :", max(ages))

#appending min element in the list

mi=min(ages)
ages.append(mi)
print("List after Appending the min value : ",ages)

#appending max element in the list

ma=max(ages)
ages.append(ma)
print("List after Appending the min value : ",ages)

# Displaying Average 

print("Average Element : ",sum(ages)/len(ages))

# The Range of ages is

print("The Range of Ages : ", ages[len(ages)-1]-ages[0])

Given list :  [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
After Sorting :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Element :  19
Maximum Element : 26
List after Appending the min value :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]
List after Appending the min value :  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Average Element :  22.75
The Range of Ages :  7

In [7]:
#Question 2

#Declaring the dictionary

dog = {
    "name" : "Bruno"  ,
    "color" : "Brown",
    "breed" : "Beagle" ,
    "legs" : 4,
    "age" : 2
}

print("dog : ",dog)

student = {
    "first_name" : "Priyanka",
    "last_name" : "Nimmagadda",
    "gender" : "Female",
    "age" : 24,
    "marital_status" : "unmarried",
    "skills" : ["C#", "Dot Net" , "Angular"],
    "country" : "USA",
    "city" : "kansas city",
    "address" : "7507 W 140th St Apt 902 kansas 66223"
}


#Length of student dictonary

print("Length of dictonary : ",len(student))

#Values of skills and data type of skills key

print("Skills : ",student["skills"],"and Data type of skills : ",type(student["skills"]))

# Adding items to skills list in dictionary

student["skills"].append("Sql")

print("After Adding another Skill : ",student["skills"])

#printing keys of student

print("Student keys are : ",student.keys())

#Printing Values of student

print("Student values are : ",student.values())

dog :  {'name': 'Bruno', 'color': 'Brown', 'breed': 'Beagle', 'legs': 4, 'age': 2}
Length of dictonary :  9
Skills :  ['C#', 'Dot Net', 'Angular'] and Data type of skills :  <class 'list'>
After Adding another Skill :  ['C#', 'Dot Net', 'Angular', 'Sql']
Student keys are :  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
Student values are :  dict_values(['Priyanka', 'Nimmagadda', 'Female', 24, 'unmarried', ['C#', 'Dot Net', 'Angular', 'Sql'], 'USA', 'kansas city', '7507 W 140th St Apt 902 kansas 66223'])

In [1]:
#Question 3

#Declaring tuble brother
brothers = ("shiva", "john", "karthik")
print("Brothers : ",brothers)

sisters = ("haneesha", "lahari")
print("Sisters : ",sisters)

#Adding brothers and sisters

siblings = brothers + sisters

#Total siblings
print("Total Siblings : ", len(siblings))

#adding mother and father name

y = list(siblings)
y.append("madhavi")
y.append("krishna")
family_members = tuple(y)

# Assigning to family members

print("Family Members : ",family_members)

Brothers :  ('shiva', 'john', 'karthik')
Sisters :  ('haneesha', 'lahari')
Total Siblings :  5
Family Members :  ('shiva', 'john', 'karthik', 'haneesha', 'lahari', 'madhavi', 'krishna')

In [2]:
#Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

print("IT Companies : ", it_companies)
#length of it_companies

print("Length : ",len(it_companies))

#Adding item to it_companies

it_companies.add("Twitter")
print("After Adding Twitter : ",it_companies)

it_companies_2 = { 'Virtusa', 'JPMC' }

it_companies.update(it_companies_2)

print("Adding Adding Items to Compaies : ",it_companies)

#Removing item Virtusa

it_companies.remove("Virtusa")

print("After Removing Virtusa from Set : ",it_companies)

#Difference betweeb remove() and discard

""" 
The Remove() and Discard() method used to delete the item in the set. The 
main differnece between remove() and discard() is remove() will raise an 
issue if the element is not availabe in the set but discard element does not 
raise an error if so. 
"""
#Example : 
#Doesn't show any error
it_companies.discard("Virtusa")

print("After using discard function : ", it_companies)

#it_companies.remove("Virtusa")

# Shows Error if element is not available
#print("After using remove function : ", it_companies)

#Joining A and B

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

C=A.union(B)
print("Joining Set A and Set B : ",C)

#InterSecting A and B

C = A.intersection(B)
print("Intersection of A and B : ", C)
 
#Checking Weather Subset or not

C= A.issubset(B)
print("A is subset of B : ",C)

#Checking weather A is disjoint set of B or not

C= A.isdisjoint(B)
print("A is disjoint set of B : ",C)

#Joining A with B and B with A

print("Joining A with B : ",A.union(B))

print("Joining B with A : ",B.union(A))

#Symmetric difference between A and B

C = A.symmetric_difference(B)

print("Symmetric Difference Between A and B : ",C)

#Deleting sets completely

A.clear()
B.clear()

print(A)
print(B)

#Converting ages into complete set

age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Age :",age)

sage = set(age)

print("After converting age into set : ",sage, type(sage))

print("length of set age : ",len(sage))
print("length of list age : ",len(age))

IT Companies :  {'Apple', 'Oracle', 'IBM', 'Google', 'Amazon', 'Facebook', 'Microsoft'}
Length :  7
After Adding Twitter :  {'Apple', 'Oracle', 'IBM', 'Google', 'Amazon', 'Facebook', 'Twitter', 'Microsoft'}
Adding Adding Items to Compaies :  {'Apple', 'Oracle', 'IBM', 'Google', 'Twitter', 'Microsoft', 'JPMC', 'Virtusa', 'Amazon', 'Facebook'}
After Removing Virtusa from Set :  {'Apple', 'Oracle', 'IBM', 'Google', 'Twitter', 'Microsoft', 'JPMC', 'Amazon', 'Facebook'}
After using discard function :  {'Apple', 'Oracle', 'IBM', 'Google', 'Twitter', 'Microsoft', 'JPMC', 'Amazon', 'Facebook'}
Joining Set A and Set B :  {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B :  {19, 20, 22, 24, 25, 26}
A is subset of B :  True
A is disjoint set of B :  False
Joining A with B :  {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A :  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric Difference Between A and B :  {27, 28}
set()
set()
Age : [22, 19, 24, 25, 26, 24, 25, 24]
After converting age into set :  {19, 22, 24, 25, 26} <class 'set'>
length of set age :  5
length of list age :  8

In [18]:
#Question 5

#Finding the area of circle (r=30)
r=30

area_of_circle = 3.14 * r

print("The area of circle is : ", area_of_circle )

circum_of_circle = 2 * 3.14 * r

print("Circumference of circle is : ", circum_of_circle)

print()

input_radius = int(input("Enter the radius "))

area = 3.14 * input_radius*input_radius

print(area)

The area of circle is :  94.2
Circumference of circle is :  188.4

Enter the radius 2
12.56

In [11]:
#Question 6
#“I am a teacher and I love to inspire and teach people”

#Declaring the string

str = "I am a teacher and I love to inspire and teach people"
str_1=str.split(' ')
str_2=set(str_1)


print("The Given string is : ", str)

print("The Total number of unique words are : ",len(str_2))

The Given string is :  I am a teacher and I love to inspire and teach people
The Total number of unique words are :  10

In [12]:
#Question 7
#Printing According to the pattern
print("Name \t\t Age \t Country \t City")
print("Asabinah \t 250 \t Finland \t Helsinki")

Name 		 Age 	 Country 	 City
Asabinah 	 250 	 Finland 	 Helsinki

In [13]:
#Question 8

#Using String formatting method

radius = 10
area = 3.14 * radius ** 2
print("The Area of Circle with radius {} is {} meters square.".format(radius,area))

The Area of Circle with radius 10 is 314.0 meters square.

In [14]:
#Question 9 

#Declaring empty list
l = []

#Reading values of n
  
n = int(input("Enter number of weights : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
    
    l.append(ele) # adding the element
      
print(l)

kg=[]

for i in range(0, n):
    ele =0.45359237 * i
    kg.append(ele)

print(kg)

Enter number of weights : 2
2
3
[2, 3]
[0.0, 0.45359237]